
#uberschrift {text-align: center; margin-left: auto; margin-right: auto;
color: green;}

#text1 {text-align: center;  margin-left: auto; margin-right: auto;
}

#links{text-align: center;color: blue; font-family: georgia;font-size: 20px;
}

.links2{text-align: center;color: white; font-family: georgia;font-size: 20px;
}

.usite{text-align: center;color: orange; font-family: georgia;font-size: 20px;
}


body {
  color:white;
  background:black;
  font-family: georgia, sans-serif;}

h1,h2,h3,h4,h5,h6{
  color: green;
  font-family:verdana, sans-serif;
  font-weight: bold;}
